
#feed_loader .feed-source .feed-title {
  margin-top: 0;
}
#feed_loader .feed-source .feed-image img {
  margin-bottom: 0.75em;
}
#feed_loader .feed-source .feed-icon {
  float: right; /* LTR */
  display: block;
}
#feed_loader .feed-item {
  margin-bottom: 1.5em;
}
#feed_loader .feed-item-title {
  margin-bottom: 0;
  font-size: 1.3em;
}
#feed_loader .feed-item-meta,
#feed_loader .feed-item-body {
  margin-bottom: 0.5em;
}
#feed_loader .feed-item-categories {
  font-size: 0.9em;
}
#feed_loader td {
  vertical-align: bottom;
}
#feed_loader td.categorize-item {
  white-space: nowrap;
}
#feed_loader .categorize-item .news-item .body {
  margin-top: 0;
}
#feed_loader .categorize-item h3 {
  margin-bottom: 1em;
  margin-top: 0;
}
